*{
margin: 0;
padding: 0;
}
.container{
    width: 800px;
    background: rgb(227, 225, 230);
}
.button{
    padding: 20px;
    margin: 2px;
    display:flex;
    justify-content: end;
}
 .main-section{
    display: flex;
    justify-content: left;
    padding: 30px;
 }
 /* .left-section{
    height: 60px;
    width:50px;
 }*/
 .right-section {
    padding: 0 0 0 10px;

 } 
 .right-section p{
    text-align: justify;
 }